div.top-container--flex
  - contacts.each do |contact|
    - i = rand(colors.size)
    = button_to contact.first_name, contact_path(contact.id), {method: :get, class: 'inline button', style: "background: #{colors[i]}"}